/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

div.rank {
  margin: 0 25px 0 25px;
}
.box-image {
  margin-top: 30px;
}

.box-contents {
  padding-left: 30px;
}

.movie-story-title,
.movie-story {
  padding-left: 30px;
}

img.movie-chart {
  width: 80%;
}

img.movie-info {
  width: 100%;
}

img.movie-chart:hover {
  cursor: pointer;
}
